@mixin grid {
	float:left;
	padding:0 $grid-gutter;
}

//
// param: $columns    - number of columns 
// param: $mediaquery - media query
//
@mixin gridMakeColumns( $columns, $mediaquery:'' ) {

	@if $mediaquery != '' {
		@media(#{$mediaquery}) {
			width:$columns * $grid-column-width;
		}
	}
	@else {
		width:$columns * $grid-column-width;
	}
}